<div class="modal-body" id="gallery-lightbox" ng-swipe-left=Lightbox.nextImage() ng-swipe-right=Lightbox.prevImage()>

    <div class="text-center" ng-show="Lightbox.loading">
        <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
    </div>

    <div ng-show="!Lightbox.loading">
        <div class="row-fluid">
            <div class="pull-right">
                <button class=close aria-hidden=true ng-click=$dismiss()>×</button>
            </div>
        </div>

        <div class="row-fluid image">
            <img ng-src="<%Lightbox.image.imageUrl%>" alt="Image" class="img-responsive" />
        </div>

        <div class="row">&nbsp;</div>
        <div class="row-fluid details">
            <p class="desc" ng-bind="Lightbox.image.caption"></p>
        </div>

        <div class=lightbox-nav>
            <div class="pull-left">
                <p>Image <%Lightbox.index + 1%> of <%Lightbox.images.length%></p>
            </div>
            <div class="pull-right">
                <div class=btn-group ng-if="Lightbox.images.length > 1">
                    <a class="btn" ng-click=Lightbox.prevImage()> ‹ PREV</a>
                    <a class="btn" ng-click=Lightbox.nextImage()>NEXT ›</a>
                </div>
            </div>
        </div>
    </div>

</div>
