@import 'vars.less';

.about-lpub {
  margin-top: 50px;

  .details {
    .desc {
      //font-size: 15px;
      //height: 505px;
      overflow: hidden;
    }

    .main-image {
      img {
        margin: 0 auto;
        padding: 85px 60px;
      }
    }

    .thumbnails {
        width: 100%;
        padding: 5px 20px 0 0;

        .lp-thumb {
          padding: 0 20px;
          img {
            border: 1px solid rgba(128, 128, 128, .5);
            border-radius: 4px;
          }
        }
    }
  }
}

.detailed-authors {
  margin-top: 50px;

  .detailed-author {
    margin-bottom: 10px;

    .text-blue {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 25px;
    }

    .full-description {
      color: @grey;
    }
  }
}

.author {
  padding-bottom: 50px;

  .image {
    img {
      //border: 1px solid rgba(128, 128, 128, .5);
      border-radius: 4px;
      margin: 0 auto;
      padding: 12px;
      max-height: 225px;
      min-width: 225px;
    }
  }

  .name {
    color: @black;
    padding: 5px;
    font-weight: bolder;
    font-size: 1em;
  }

  .desc {
    padding: 0 2px;
    height: 100px;
    overflow: hidden;
  }
}

.partner {
  img {
    margin: 0 auto;
    padding: 12px;
    max-height: 135px;
    min-width: 150px;
  }
}

//@TODO: check if this can be shared
#partnersCarousel {
  .carousel-inner {
    padding: 0 80px;
  }

  .carousel-control {
    padding-top: 5%;
    width: 5%;
    background: none;
    color: @white;
    font-size: 2em;
    &.left {
      background-image: none;
    }
    &.right {
      background-image: none;
    }

    i {
      background: @babyblue;
      padding: 10px 15px;
    }
  }
}