@import 'vars.less';

.home-slider {
  //height: 650px;
  width: auto;

  .slider-images {
    max-height: 800px;
    overflow: hidden;

    img {
      width: auto;
    }

    .slider-caption {
      background-color: rgba(0, 0, 0, 0.5);
      top: 150px;
      color: @white;
      float: left;
      font-size: 30px;
      font-weight: bold;
      max-width: 400px;
      padding: 10px;
      position: absolute;
      left: 90px;
    }
  }
}

.page-nav {
  margin-top: 50px;

  .col-md-4 {
    height: 250px;

    .nav-item {
      //border: 1px solid @grey;
      margin: 10px 0;
      //padding: 60px 0;
      cursor: pointer;
      height: 90%;
      font-size: 3em;

      a {
        color: @lightgrey;
        margin-top: 5px;
        padding: 85px 0;
        width: 100%;
        height: 100%;

        &:hover {
          color: @white;
          text-decoration: none;
        }
      }

      &:hover {
        //border: 1px solid @white;
      }

      .hvr-reveal {
        &:before {
          border-color: @white;
        }
        &:active::before {
          border-width: 2px;
          transform: translateY(0px);
        }
        &:focus::before {
          border-width: 2px;
          transform: translateY(0px);
        }
        &:hover::before {
          border-width: 2px;
          transform: translateY(0px);
        }
      }
    }

    &.about-us {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../images/nav-about-us.jpg');
      background-size: cover;
    }

    &.services {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../images/nav-services.jpg');
      background-size: cover;
    }

    &.contact-us {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../images/nav-contact-us.jpg');
      background-size: cover;
    }
  }
}

#productsCarousel {
  .carousel-control {
    padding-top: 5%;
    width: 5%;
    background: none;
    color: @black;
    font-size: 2em;
  }
}