@import 'vars.less';

.news-lpub {
  .post {
    margin-bottom: 10px;

    .main-image {
      max-height: 300px;
      overflow: hidden;

      img {
        margin: 0 auto;
        max-height: 570px;
      }
    }

    .details {
      padding: 10px;
      font-weight: bold;

      span {
        padding: 0 5px;
      }
    }

    .content {
      max-height: 55px;
      overflow: hidden;
    }

    .read-more {
      margin-top: 10px;
    }
  }

  .category-list {
    ul {
      list-style-type: none;
    }
  }

  .latest-post {
    img {
      margin: 0 auto;
      //max-height: 100px;
    }
  }

  .pagination {
    width: 0;
    display: block;
    margin: auto;
    //width: 25%;
  }
}

@media screen and (device-width: @mobile-device-width) {
  .news-lpub {
    .post {
      .details {
        padding: 0;
        span {
          padding: 0;
        }
      }
    }
  }
}