@import 'vars.less';

.products-lpub {
  margin-top: 50px;

  .series {
    padding: 20px 0;

    .frame {

      img {
        margin: 35px auto;
      }
    }

    .desc {
      overflow: auto;
      padding: 0 10px;
    }

    .products {
      margin: 20px 0;
      padding: 15px 0;
      border-top: 1px solid rgba(128, 128, 128, .5);
      border-bottom: 1px solid rgba(128, 128, 128, .5);

      .carousel-indicators {
        margin: 0 15px;
      }
    }
  }
}