@import 'vars.less';

.services-lpub {
  margin-top: 50px;

  .main-image {
    img {
      min-width: 750px;
    }
  }

  .about {
    padding-top: 50px;
    margin-bottom: -2em;

    .scinergy-logo {
      img {
        margin: 15px auto;
        width: 300px;
      }
    }

    .rationale-link {
      cursor: pointer;
    }

    .gallery {
      .col-sm-5 {
        //border: 1px solid #808080;
        border-radius: 8px;
        margin: auto 10px;
      }

      .image {
        height: 250px;
        overflow: hidden;

        a {
          cursor: pointer;
        }

        img {
          padding: 5px;
          min-height: 255px;
          //width: 100%;
          //margin: 0 auto;
        }
      }

      .caption {
        border-left: none;
        margin-top: 0;

        p {
          font-weight: normal;
        }
      }
    }
  }

  .instruments {
    margin-top: 30px;
    margin-bottom: -1em;

    .product {
      p {

        &.title {
          overflow: hidden;
        }

        &.desc {
          height: 40px;
        }

        &.details {
          margin: 15px 0;
        }
      }
    }
  }

  #rationale {
    .modal-body {
      max-height: 500px;
      overflow-y: auto;

      .art-signature {
        img {
          max-height: 100px;
        }
      }

      .art-details {
        li {
          margin-left: -30px;
          list-style-type: none;
        }
      }
    }
  }
}