@import 'vars.less';

.single-product {

  hr {
    border-color: rgba(128, 128, 128, .5);
  }

  .large-image {
    img {
      border: 1px solid rgba(128, 128, 128, 0.5);
      border-radius: 4px;
      max-width: 400px;
      padding: 30px;
      margin: 0 auto;
    }
  }

  .recommended-books {
    margin-top: 20px;

    .carousel-indicators {
      margin: 0 15px;
    }
  }
}

/*mobile*/
@media screen and (device-width: @mobile-device-width) {
  .single-product {
    .large-image {
      img {
        max-width: 300px;
      }
    }
  }
}

@media screen and (device-width: @galaxyS3) {
  .single-product {

    .large-image {
      img {
        max-width: 300px;
      }
    }
  }
}