@import 'vars.less';

body {
	font-family: 'Source Sans Pro', sans-serif;

	.lpub-container {
		overflow-x: hidden;

		.row.header {
			margin: 10px 20px;

			.right-header {
				margin: 20px 0;
				.quotes {
				    color: @black;
					font-family: sans-serif !important;
				    font-size: larger;
				    font-weight: bold;
				    margin: 0 30px;
				    min-height: 125px;
				    max-height: 125px;

					.text-blue {
						font-size: 12px;
					}
				}
			}

			.lpub-info {
				//font-size:smaller;

				.row {
					padding: 5px;
				}

				.icon-orange {
					color: @orange;
				}
			}
		}

		.lpub-nav {
			background: @blue;

			&.header-nav {
				ul {
					&.nav-pills {
						display: inline-block;
						margin-bottom: -5px;
					}
				}			
			}

			li {
				display: inline;
				padding: 0 20px;

				a {
					float: left;
					color: @white;
					border-radius: 0;

                  &:hover {
                    background: @white;
                    color: @blue;
                  }
				}

				&.top-button {
					a {
						cursor: pointer;
					}

					img {
						height: 20px;
					}
					
				}
			}

			&.bottom-nav {
				ul {
					margin-left: 30px;
					li {
						//margin-left: 30px;
					}
				}
			}
		}

		.lpub-nav-collapsed {
			background: @blue;

			li {
				a {
					color: @white;
					border-radius: 0;

					&:hover {
                      background: @white;
                      color: @blue;
					}
				}
			}
		}

		.footer-content {
			background: @darkblue;
			color: @white;
			overflow:auto;

			.col-md-4 {
				margin-top: 20px;
			}

			p {
				padding: 10px;
			}
		}

		.caption {
			margin-top: 20px;
			border-left: 4px solid @yellow;

			p, h1, h2 {
				display: block;
				margin-left: 10px;
				font-weight: bold;

				&.primary { //@TODO: verify if colors are correct
					color: @blue;
					//font-size: 20px;
				}

				&.secondary {
					color: @grey;
					margin-top: -10px;
					//font-size: 2em;
				}
			}
		}

		.btn-orange {
			background: @orange;
			color: @white;
			font-weight: bold;
			border-bottom: 5px solid @darkorange;
			&:hover {
				background: @blue;
				border-bottom: 5px solid @darkblue;
			}
		}

		.btn-blue {
			background: @blue;
			color: @white;
			font-weight: bold;
			border-bottom: 5px solid @darkblue;
			&:hover {
				background: @orange;
				border-bottom: 5px solid @darkorange;
			}
		}

		.text-blue {
			color: @blue;
		}

		.text-orange {
			color: @orange;
		}

		.text-yellow {
			color: @yellow;
		}

		.text-grey {
			color: @grey;
		}

		.product {
			border: 1px solid rgba(128, 128, 128, .5);
			margin: 5px 0;
			padding: 5px 0;

			.image {
				img {
					margin: 0 auto;
				}
			}

			p {
				margin-bottom: 5px;

				&.grade {
					color: @blue;
					font-size: 20px;
					font-weight: bold;
					border-bottom: 2px solid;
				}

				&.title {
					color: @orange;
					font-size: 20px;
				}

				&.desc {
					height: 75px;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				&.view {
					padding-top: 15px;
				}
			}

			ul {
				margin-left: -40px;
				list-style-type: none;
			}
		}

		.lpub-spinner {
			margin-top: 10px;
			position: relative;
			//padding: 50px;
		}

		.carousel-control {
			padding-top: 17%;
			width: 5%;
			background: none;
			color: @white;

			&.left {
				background-image: none;
			}
			&.right {
				background-image: none;
			}

			i {
				background: @blue;
				padding: 10px 15px;
			}
		}

		.carousel-indicators {
			margin: -30px auto;
			display: table;

			list-style: outside none none;
			position: static;
			text-align: center;
			width: auto;
			z-index: 15;

			.active {
				background-color: @blue;
				margin: auto;
			}

			li {
				background-color: @babyblue;
				border-radius: 0;
				display: inline-flex;
				text-indent: 0;

				&.slider-options {
					background-color: @white;
					font-size: 10px;

					a {
						color: @babyblue;

						&.active-slider {
							color: @blue;
						}
					}
				}
			}
		}

		.navbar-default {
			.navbar-nav {
				.open {
					.dropdown-menu {
						> li {
							> a {
								color: @white;

								&:focus {
									background-color: @transparent-white;
								}

								&:hover {
									background-color: @transparent-white;
								}
							}
						}

						> .active {
							a {
								color: @mediumgrey !important;
							}
						}
					}
				}
			}
		}

		.dropdown-menu {
			background-color: @blue;

			li {
				a {
					//padding: 0 34%;
					margin: 0 3px;

					&:hover {
                      background: @white;
                      color: @blue;
					}
				}
			}
		}

		.input-xs {
			margin: auto 10px;
			width: 40px;
		}
	}
}

.modal-dialog {
	//width:750px;

   .modal-content {

	   .lightbox-nav {
			font-size: 14px;
	   }

	   #services-lightbox {

		   .image {
			   max-height: 450px;
			   overflow:hidden;

			   img {
				   padding: 5px;
				   margin: 0 auto;
			   }
		   }

		   .details {
			   p {
				   margin-bottom: 5px;

				   &.grade {
					   color: @blue;
					   font-size: 16px;
				   }

				   &.title {
					   color: @orange;
					   font-size: 20px;
					   font-weight: bold;
				   }

				   &.desc {
					   overflow: hidden;
					   text-overflow: ellipsis;
				   }
			   }
		   }
	   }
   }

	#gallery-lightbox {
		.image {
			max-height: 450px;
			overflow: hidden;

			img {
				padding: 5px;
				margin: 0 auto;
				height: 450px;
			}
		}
	}
}


@media screen and (device-width: @mobile-device-width) {
	body {
		.lpub-container {
			.row.header {
				.right-header {
					.quotes {
						font-size: small;
					}
				}
			}

			.carousel-control {
				width: 25%;
			}

			.product {
				.details {
					text-align: center;
				}
			}

			.carousel-indicators {
				margin: 0 15px;
			}
		}
	}
}

@media screen and (device-width: @mobile-device-landscape-width) {
	body {
		.lpub-container {
			.carousel-control {
				width: 15%;
			}

			.product {
				.details {
					text-align: center;
				}
			}
		}
	}
}

//Galaxy S3
@media screen and (device-width: @galaxyS3) {
	body {
		.lpub-container {
			.row.header {
				.right-header {
					.quotes {
						font-size: small;
					}
				}
			}

			.carousel-control {
				width: 20%;
			}

			.product {
				.details {
					text-align: center;
				}
			}

			.carousel-indicators {
				margin: 0 15px;

				li {
					height: 25px;
					width: 30px;

					&.slider-options {
						font-size: 30px;
					}
				}
			}

			.dropdown-menu {
				background-color: @blue;

				li {
					a {
						padding: 10px 155px !important
					}
				}
			}
		}
	}
}

@media screen and (device-width: @galaxyS3-landscape) {
	body {
		.lpub-container {
			.carousel-control {
				width: 11%;
			}

			.product {
				.details {
					text-align: center;
				}
			}
		}
	}
}