@white: #fff;
@transparent-white: #7F90AA;
@black: #000;
@orange: #FD921E;
@darkorange:#A96429;
@blue: #175AAE;
@darkblue: #062A4E;
@babyblue: #D0DEE7;
@grey: #808080;
@lightgrey: #B2B7B1;
@mediumgrey: #555;
@yellow: #FFEE32;

@mobile-device-width: 320px;
@mobile-device-landscape-width: 480px;

@galaxyS3: 360px;
@galaxyS3-landscape: 640px;